{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "ignorePatterns": [
    "auto-imports.d.ts",
    "components.d.ts"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "plugins": ["vue"],
  "rules": {
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "vue/component-tags-order": [
      "error",
      {
        "order": ["template", "style", "script"]
      }
    ]
  }
}
